<launch>

  <arg name="map_file" default="$(find alpha_move_base)/maps/garage.yaml"/>

  <!-- Launch Map server (to publish saved map) -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" /> -->

  <!-- Move base -->
  <include file="$(find alpha_move_base)/launch/include/move_base.launch.xml"/>

</launch>
