<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://ros.org/wiki/xacro"
       xmlns:xacro="http://ros.org/wiki/xacro"
       name="alpha" >

  <!-- The following included files set up definitions of parts of the robot body -->
  <!-- alpha base -->
  <xacro:include filename="$(find alpha_description)/urdf/chassis/alpha_base.urdf.xacro" />
  <!-- kinect sensor -->
  <xacro:include filename="$(find alpha_description)/urdf/sensors/kinect/v2/kinect.urdf.xacro" />
  <!-- hokoyu laser sensor -->
  <xacro:include filename="$(find alpha_description)/urdf/sensors/hokuyo_laser/hokuyo_lx30_laser.urdf.xacro" />

  <!-- Now we can start using the macros included above to define the actual alpha -->
  <!-- alpha base -->
  <xacro:alpha_base name="base"/>
  <!-- kinect sensor -->
  <xacro:kinect_camera name="kinect" parent="base_link">
    <origin xyz="0 0.125 0.215" rpy="0 0 ${M_PI/2}" />
  </xacro:kinect_camera>
  <!-- hokoyu laser sensor -->
  <xacro:hokuyo_lx30_laser name="hokuyo" parent="base_link" ros_topic="base_scan" update_rate="10" min_angle="-1.3962634" max_angle="1.3962634" >
    <origin xyz="0 0 0.32" rpy="0 0 ${M_PI/2}" />
  </xacro:hokuyo_lx30_laser>

</robot>
