<?xml version="1.0"?>
<launch>

  <arg name="rvizconfig" default="$(find alpha_master)/rviz/slam_hector.rviz" />

  <!-- Spawn robot alpha visualize in rviz and publish tf-->
  <include file="$(find alpha_description)/launch/rviz_display.launch">
    <arg name="rvizconfig" value="$(arg rvizconfig)"/>
  </include>

  <!--launch the hokuyo hardware -->
  <include file="$(find hardware_hokuyo)/launch/urg04lx.launch" />

  <!--launch hector-slam-->
  <include file="$(find alpha_slam)/launch/slam_hector.launch" />

</launch>
