<launch>

  <node pkg="alpha_scan_filter" type="raw_scan_filter" name="base_laser_scan_filter" >
    <rosparam file="$(find alpha_scan_filter)/config/alpha_filter.yaml" command="load"/>
    <remap from="scan" to="base_scan" />
    <remap from="scan_filtered" to="base_scan_filtered" />
  </node>
  
</launch>
