<?xml version="1.0"?>
<launch>

  <!-- launch hokuyo node-->
  <group ns="hokuyo">
    <node pkg="urg_node" type="urg_node" name="urg04lx_scan">
      <remap from="scan" to="base_scan"/>
    </node>
  </group>

  <!-- map tf frames to the tf published from urdf file -->
  <node pkg="tf" type="static_transform_publisher" name="hokuyo_broadcaster" args="0 0 0 0 0 0 1 hokuyo_frame laser 50" />

</launch>
