<?xml version="1.0"?>
<launch>

  <arg name="rvizconfig" default="$(find alpha_master)/rviz/slam_gmapping.rviz" />
  <arg name="gazebo_gui" default="false"/>

  <!-- Spawn robot alpha into gazebo world room and visualize in rviz-->
  <include file="$(find alpha_gazebo)/launch/alpha_room_world.launch">
    <arg name="rvizconfig" value="$(arg rvizconfig)"/>
    <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
  </include>

  <!--run the keyboard_teleop node to manually control the robot -->
  <include file="$(find alpha_teleop)/launch/keyboard_teleop.launch" />

  <!--run the gmapping node to build the map -->
  <include file="$(find alpha_slam)/launch/slam_gmapping.launch" />

</launch>
