<launch>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="recording" default="false"/>

  <!-- Launch Gazebo with tes_room -->
  <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="headless" value="$(arg headless)"/> <!-- Inert - see gazebo_ros_pkgs issue #491-->
    <arg name="recording" value="$(arg recording)"/>
    <arg name="world_name" value="worlds/willowgarage.world"/>
  </include>

  <!-- Spawn robot alpha into gazebo -->
  <include file="$(find alpha_gazebo)/launch/include/gazebo_alpha.launch.xml">
    <arg name="x" value="0.0"/>
    <arg name="y" value="0.0"/>
    <arg name="z" value="0.0"/>
  </include>

  <!-- Launch robot alpha into rviz for visualization -->
  <include file="$(find alpha_gazebo)/launch/include/rviz_alpha.launch.xml" />

  <!-- Publish current robot joint states using tf -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

</launch>
