<launch>

  <arg name="rvizconfig" default="$(find alpha_gazebo)/rviz/gazebo.rviz" />

  <arg name="gazebo_gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="debug" default="false"/>

  <!-- Launch Gazebo with empty_world map -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Spawn robot alpha into gazebo -->
  <include file="$(find alpha_gazebo)/launch/include/gazebo_alpha.launch.xml">
    <arg name="x" value="0.0"/>
    <arg name="y" value="0.0"/>
    <arg name="z" value="0.0"/>
  </include>

  <!-- Launch robot alpha into rviz for visualization -->
  <include file="$(find alpha_gazebo)/launch/include/rviz_alpha.launch.xml">
    <arg name="rvizconfig" value="$(arg rvizconfig)"/>
    <arg name="gui" value="$(arg rviz_gui)"/>
  </include>

</launch>
