<?xml version="1.0"?>
<launch>

  <arg name="rvizconfig" default="$(find hardware_kinect)/rviz/kinect.rviz" />

  <!-- Spawn robot alpha visualize in rviz and publish tf-->
  <include file="$(find alpha_description)/launch/rviz_display.launch">
    <arg name="rvizconfig" value="$(arg rvizconfig)"/>
  </include>

  <!-- launch freenect nodelets-->
  <group ns="kinect">
    <include file="$(find freenect_launch)/launch/freenect.launch">
      <arg name="depth_registration" value="true"/>
      <!-- freenect-diagnostics for debugging a working system-->
      <arg name="enable_rgb_diagnostics" value="true" />
      <!-- <arg name="enable_ir_diagnostics" value="true" /> -->
      <arg name="enable_depth_diagnostics" value="true" />
    </include>
  </group>
  
  <!-- map tf frames to the tf published from urdf file -->
  <node pkg="tf" type="static_transform_publisher" name="kinect1_broadcaster" args="0 0 0 0 0 0 1 kinect_frame camera_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="kinect2_broadcaster" args="0 0 0 0 0 0 1 camera_link camera_rgb_frame 50" />
  <node pkg="tf" type="static_transform_publisher" name="kinect3_broadcaster" args="0 0 0 0 0 0 1 camera_link camera_depth_frame 50" />
  <node pkg="tf" type="static_transform_publisher" name="kinect4_broadcaster" args="0 0 0 0 0 0 1 camera_rgb_frame camera_rgb_optical_frame 50" />
  <node pkg="tf" type="static_transform_publisher" name="kinect5_broadcaster" args="0 0 0 0 0 0 1 camera_depth_frame camera_depth_optical_frame 50" />

</launch>
