<?xml version="1.0"?>
<launch>
  <arg name="rvizconfig" default="$(find hardware_kinect)/rviz/kinect.rviz" />

  <!-- Spawn robot alpha visualize in rviz and publish tf-->
  <include file="$(find alpha_description)/launch/rviz_display.launch">
    <arg name="rvizconfig" value="$(arg rvizconfig)"/>
  </include>

  <!-- launch freenect nodelets-->
  <include file="$(find freenect_launch)/launch/freenect.launch">
    <arg name="depth_registration" value="true"/>
  </include>

  <!-- map tf frames to the tf published from urdf file -->
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 kinect_frame camera_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 1 kinect_frame camera_rgb_frame 50" />
  <node pkg="tf" type="static_transform_publisher" name="link3_broadcaster" args="0 0 0 0 0 0 1 kinect_frame camera_depth_frame 50" />
  <node pkg="tf" type="static_transform_publisher" name="link4_broadcaster" args="0 0 0 0 0 0 1 kinect_optical_frame camera_rgb_optical_frame 50" />
  <node pkg="tf" type="static_transform_publisher" name="link5_broadcaster" args="0 0 0 0 0 0 1 kinect_optical_frame camera_depth_optical_frame 50" />

</launch>
